{% extends"index.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr >
                <td> {{country.name}} </td>
                <td> {{country.population}} </td>
                <td> {{country.goverment}} </td>
                <td> {{country.location }} </td>

            </tr>
        {% endfor %}
            <tr>
                <td><a href = "/insert"><button type="button" class="btn btn-success" name="btn_new_student">New Country</button> </a></td>
            </tr>
        </tbody>
    </table>
 </div>
{% endblock %}