{% extends"index.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ganre</th>
            </tr>
        </thead>
        <tbody>
        {% for ganre in ganres %}
            <tr >
                <td> {{ganre.name}} </td>
                <td> {{ganre.popularity}} </td>
                <td> {{ganre.count_of_subscribers}} </td>
                <td> {{ganre.year }} </td>

            </tr>
        {% endfor %}
            <tr>
                <td><a href = "/i"><button type="button" class="btn btn-success" name="btn_new_student">New Ganre</button> </a></td>
            </tr>
        </tbody>
    </table>
 </div>
{% endblock %}